@import url('https://fonts.googleapis.com/css?family=Halant|Lora|Rasa&display=swap');

/*
Title:
font-family: 'Lora', serif;

Subtitle:
font-family: 'Rasa', serif;

Text:
font-family: 'Halant', serif;
*/

body {
  margin: 0 auto;
  font-family: 'Halant', serif;
  font-size: 1.3rem;
}

h1 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2.2rem;
}

h4,
h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.1rem;
}
